body {
    font: 14px Tahoma,Arial,sans-serif;
    background: darkblue;
}

.host-choice-form {

    height: 120px;
    width: 602px;

    margin: auto;
    background: white;
    border-radius: 4px;
    box-shadow: 0 30px 30px grey;
}

.host-choice-item {
    float: left;
    height: 120px;
    width: 200px;
    text-align: center;
    border-left:  1px solid darkgrey;
}

.host-choice-item:first-child {
    border: none;
}

.host-choice-item h3 {
    color: red;
}

.host-choice-item-button {
    background: red;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    text-shadow: 0 -1px 0 grey;
    border-radius: 2px;
}